In [1]:
import pandas as pd

In [2]:
csv_operations = pd.read_csv('D:\\100 Sales Records.csv',nrows=6,usecols=[1,2,10,8,9],na_values=['2804','Russia','117.11'])
csv_operations

                 Country        Item Type  Units Sold  Unit Price  Unit Cost
0                 Tuvalu        Baby Food      9925.0      255.28     159.42
1             Bangladesh        Cosmetics         NaN      205.70        NaN
2                    NaN  Office Supplies      1779.0      651.21     524.96
3  Sao Tome and Principe           Fruits      8102.0        9.33       6.92
4                 Rwanda  Office Supplies      5062.0      651.21     524.96
5        Solomon Islands        Baby Food      2974.0      255.28     159.42

In [ ]:
csv_operations.loc[3,'Country']

In [ ]:
csv_operations.loc[0:2,'Country']

In [ ]:
csv_operations.loc[csv_operations['Unit Price']>300] #special operation

In [3]:
csv_operations.iloc[3,2]

8102.0

In [ ]:
csv_operations.iloc[3:5]

In [ ]:
iloc = csv_operations.iloc[:,3]
iloc

In [ ]:
than =( iloc>100)
than

In [ ]:
print(than)

In [ ]:
csv_operations.iloc[[3,5]]

In [ ]:
grp=csv_operations.groupby('Item Type')
grp.groups

In [ ]:
loop = csv_operations.groupby(['Item Type','Country','Unit Price']).groups
loop

In [ ]:
for csv_operations in loop:
    print(csv_operations)

In [ ]:
for i in loop:
    if i  == 651.21:
        print(i)
    else:
        print('there is something wrong')

In [ ]:
i =csv_operations.groupby('Country').get_group('Item Type')
i