In [1]:
import pandas as pd

In [63]:
first_series=pd.Series([1,2,3],index=['a','b','c'],dtype=float)
first_series

a    1.0
b    2.0
c    3.0
dtype: float64

In [12]:
second_series=pd.Series([3,4,5,6])
second1_series=pd.Series([3,4,5,6])
second1_series+second_series

0     6
1     8
2    10
3    12
dtype: int64

In [30]:
second1_series[0:2:1]

0    3
1    4
dtype: int64

In [45]:
greater_than=second1_series > 4
greater_than

0    False
1    False
2    False
3    False
dtype: bool

In [107]:
first_frame=pd.DataFrame([[1,2,3,4,5],[6,7,8,9,6]],index=[1,2],columns=[1,2,3,4,5])
first_frame
first_frame[:2]

   1  2  3  4  5
1  1  2  3  4  5
2  6  7  8  9  6

In [87]:
first = pd.DataFrame([[1,2,3,4,5]])
first

   0  1  2  3  4
0  1  2  3  4  5

In [89]:
second= pd.DataFrame([[6,7,8,9,10]])
second

   0  1  2  3   4
0  6  7  8  9  10

In [74]:
dataframe=pd.DataFrame([{'Fariha':first,'Rifat':second}])
dataframe

                          Fariha                                Rifat
0     0
0  1
1  2
2  3
3  4
4  5      0
0   6
1   7
2   8
3   9
4  10

In [65]:
dataframe=pd.DataFrame()
dataframe

                  0
0   [1, 2, 3, 4, 5]
1  [6, 7, 8, 9, 10]

In [83]:
(first+second).prod()

0    135135
dtype: int64